<script src="https://cdn.tailwindcss.com"></script>
<h1
    class="bg-red-500 w-96 mx-auto text-center text-white my-5 font-sans font-semibold text-2xl rounded-lg transition ease-out-in delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-black duration-300">
    404: Page Not Found!</h1>