{{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
<section class="bg-white dark:bg-gray-900 antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-4xl dark:text-white">
        Welcome back {{username}}! 
      </h2>
    </div>

    <div class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
      <div class="space-y-4">
        <span
          class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
          Your pages read this past week
        </span>
        <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
          Nothing here yet...
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Add some info
        </p>
      </div>

      <div class="space-y-4">
        <span
          class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
          Your favorite genres
        </span>
        <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
          Nothing here yet...
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Add some info
        </p>
      </div>

      <div class="space-y-4">
        <span
          class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
          Total books read
        </span>
        <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
          Nothing here yet...
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Add some info
        </p>
      </div>
    </div>
  </div>
  <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Button</button>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
       Need some inspiration? Find out what others are reading here
      </p>
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Logout</button>
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Group 8™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
</section>
{{!-- <script src="/js/logout.js"></script> --}}