<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<section>
    <div class="py-8 px-4 mx-auto h-screen text-center lg:py-16 video-container">
        <video autoplay muted loop id="video-background">
            <source src="/assets/Library Video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="content mx-auto bg-stone-200 bg-opacity-90 pb-2 w-3/6 rounded-md border-stone-100 border-2">
            <h1 class="mb-4 drop-shadow-lg text-6xl font-extrabold tracking-tight leading-snug text-gray-900 md:text-5xl lg:text-6xl dark:bg-gradient-to-r from-green-400 via-green-500 to-stone-900 bg-clip-text text-transparent"
                id="myElement"></h1>
            <h5
                class="mb-4 text-1xl font-extrabold tracking-tight leading-none text-gray-900 md:text-2xl lg:text-2xl dark:text-white">
                Where Words Become Journeys</h5>
            <p class="indent-8 mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-4 dark:text-black">
                Welcome to
                <strong>Bookify</strong> where the love of reading meets the power of data. We're dedicated to
                revolutionizing your reading experience by providing a seamless platform for tracking your reading
                habits, managing your book collection, and diving deep into the worlds of literature.
                <strong>Bookify</strong> empowers you to explore new genres, set reading goals, and capture your
                insights as you journey through countless pages. From the classics to contemporary bestsellers, our
                mission is to enhance your reading journey, offering insights into your reading patterns and suggesting
                personalized recommendations. Join us in celebrating the art of reading while embracing the modern era
                of data-driven insights. Embark on your literary adventure with <strong>Bookify</strong>, and let your
                reading habits shape a new chapter of your life.
            </p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="/register"
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    Sign Up
                </a>
                <a href="/login"
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    Sign In
                </a>
                <a href="#"
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Learn More!
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>

            </div>
        </div>
    </div>
</section>
<section class="grid lg:grid-cols-3 sm:grid-cols-1 md:grid-cols-2">
    <div class=" max-w-2xl w-full bg-gray-50 rounded-sm shadow dark:bg-red-300 p-4 md:p-6 ml-1 my-1">
        <div class="flex justify-between mb-3">
            <div class="flex items-center">
                <div class="flex justify-center items-center">
                    <h5 class="text-xl font-bold leading-none text-black dark:text-gray-50 pr-1">User
                        progress
                    </h5>
                </div>
                <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white">
                
            </div>
        </div>
        <p>Visual representation that effectively tracks and showcases an individual's reading journey, specifically focusing on the number of pages read per day and the books completed over a certain period. This progress graph also provides valuable insights into the user's reading habits, patterns, and accomplishments, offering a comprehensive overview of their literary pursuits.</p>
        </blockquote>

        <div class="bg-gray-50 dark:bg-stone-600 p-3 rounded-lg">
            <div class="grid grid-cols-3 gap-3 mb-2">
                <dl
                    class="bg-orange-50 dark:bg-orange-200 rounded-lg flex flex-col items-center justify-center h-[78px]">
                    <dt
                        class="w-8 h-8 rounded-full bg-orange-100 dark:bg-orange-50 text-orange-600 dark:text-orange-500 text-sm font-medium flex items-center justify-center mb-1">
                        2</dt>
                    <dd class="text-orange-600 dark:text-orange-500 text-sm font-medium">Books to read</dd>
                </dl>
                <dl class="bg-teal-50 dark:bg-teal-100 rounded-lg flex flex-col items-center justify-center h-[78px]">
                    <dt
                        class="w-8 h-8 rounded-full bg-teal-100 dark:bg-teal-50 text-teal-600 dark:text-teal-500 text-sm font-medium flex items-center justify-center mb-1">
                        100</dt>
                    <dd class="text-teal-600 dark:text-teal-500 text-sm font-medium">Pages per day</dd>
                </dl>
                <dl class="bg-blue-50 dark:bg-blue-100 rounded-lg flex flex-col items-center justify-center h-[78px]">
                    <dt
                        class="w-8 h-8 rounded-full bg-blue-100 dark:bg-blue-50 text-blue-600 dark:text-blue-500 text-sm font-medium flex items-center justify-center mb-1">
                        3</dt>
                    <dd class="text-blue-600 dark:text-blue-500 text-sm font-medium">Books finished</dd>
                </dl>
            </div>
        </div>
        <!-- Radial Chart -->
        <div class="py-6" id="radial-chart"></div>
    </div>
    <div class="max-w-2xl w-full bg-gray-50 rounded-sm shadow dark:bg-green-300 p-4 md:p-6 px-1 my-1">

        <div class="flex justify-between items-start w-full">
            <div class="flex-col items-center">
                <div class="flex items-center mb-1">
                    <h5 class="text-xl font-bold leading-none text-black dark:text-gray-50 mr-1">What people are reading</h5>
                </div>
            </div>
            <p>Pie chart that visually showcases the distribution of different types of genres that people are reading. This Pie chart effectively conveys the proportions and relative frequencies of various literary genres in a concise and easily understandable manner. Each segment of the pie chart corresponds to a specific genre, and the size of each segment reflects the percentage of readers engaged in that genre.
            </p>
        <!-- Line Chart -->
        <div class="py-6" id="pie-chart"></div>
    </div>
    <div class="max-w-2xl w-full bg-gray-50 rounded-sm shadow dark:bg-orange-200 p-4 md:p-6 -ml-1 my-1">
        <div class="flex justify-between mb-5">
            <div>
                <h5 class="text-xl font-bold leading-none text-black dark:text-gray-50 pb-2">Pages per day</h5>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Comparing 2 readers</p>
            </div>
            <div
                class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">
                23%
                <svg class="w-3 h-3 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 13V1m0 0L1 5m4-4 4 4" />
                </svg>
                <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white">
                
            </div>
        </div>
        <p>This double line graph is a visual representation that effectively compares the number of pages read by two individuals over a specific period, with one individual being the user and the other representing the average pages read by a person. This graphical tool provides a clear and compelling way to analyze and contrast the reading progress of the user with the broader reading habits of the average individual.
</p>
        </blockquote>
            </div>
        </div>
        <div id="grid-chart"></div>
        
    </div>
    
</section>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/animations.js"></script>