<script src="https://cdn.tailwindcss.com"></script>
<div class="w-full inline-flex flex-nowrap">
    <ul
        class="flex bg-green-500 space-x-0 items-center justify-center md:justify-start [&_li]:mx-auto [&_img]:max-w-xs">

        <li>
            <img class="object-scale-down group-hover:opacity-50 border-2 border-red-600 rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt=""
                aria-placeholder="book" />

        </li>
        <li>
            <div class="w-64 h-64 overflow-hidden justify-center bg-red-100 relative">
                <img class="w-64 h-64 justify-center relative"src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg"
                    class="absolute inset-0 bg-cover bg-center z-0"></img>
                <div
                    class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-6xl text-white font-semibold">
                    Dwayne</div>
            </div>
        </li>
    </ul>
</div>