
<section class="bg-red-300 dark:bg-black">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="/bookify.png" alt="Bookify">Bookify</a>
    <div
      class="w-full text-gray-50 bg-green-300 border-yellow-300 border rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-700 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1>Sign in to your account</h1>
      <form class="form login-form space-y-4 md:space-y-6">
        <div class="form-group">
          <label for="email-login" class="block mb-2 text-sm font-medium text-gray-50 dark:text-white">Email:</label>
          <input class="form-input bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="dicks@bookify.com" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login" class="block mb-2 text-sm font-medium text-gray-50 dark:text-white">Password:</label>
          <input class="form-input bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="password" id="password-login" placeholder="••••••••" />
        </div>
        <div class="form-group">
          <button class="w-full text-white bg-blue-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Sign in</button>
          <p class="mt-4 text-sm font-light text-gray-500 dark:text-gray-400">
            Don't have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
          </p>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>
<script src="/js/login.js"></script>

